In [1]:
## This is the code for evaluating the sentiment of the reviews at the sentence level
## Author: Pbhadani
## Date: 1/12/2017

import nltk, re, csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk import PorterStemmer
from nltk.stem import WordNetLemmatizer
from random import shuffle

In [2]:
training = pd.read_excel("Reciews_Data_Snehal.xlsx", names =["Sent_ID", "Category", "Polarity", "Reviews"], encoding="Latin1")

In [3]:
training.head()

,Sent_ID,Category,Polarity,Reviews
0,3121.0,service,-1,But the staff was so horrible to us.
1,2777.0,anecdotes/miscellaneous,-1,"To be completely fair, the only redeeming fact..."
2,1634.0,food,1,"The food is uniformly exceptional, with a very..."
3,2534.0,service,1,Where Gabriela personaly greets you and recomm...
4,583.0,anecdotes/miscellaneous,1,"For those that go once and don't enjoy it, all..."

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv = TfidfVectorizer(min_df= 20)
X = tv.fit_transform(training["Reviews"])

In [5]:
Y = training["Polarity"]

In [6]:
from sklearn.utils import shuffle
X, Y = shuffle(X, Y)
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.10, random_state=3057)
clf = SVC(kernel="linear", verbose=3)
clf.fit(X_train, y_train)

[LibSVM]

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=3)

In [7]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.834799608993

In [8]:
input_data2 = pd.read_csv("20PlusReviews_Excluding_Rare_Biz_Users.csv")

In [9]:
input_data2.head()

,Business Id,User Id,Review Id,User_Stars,Text_encoded,Business_Stars,Useful,Funny,Cool
0,dKdApYVFDSNYsNOso6NYlA,bLbSNkLggFnqwNNzzq-Ijw,LwszgYoywAhMaIdt3zPgug,4,Crave those crazy squares!! Not breakfast cere...,3.0,10,9,10
1,dKdApYVFDSNYsNOso6NYlA,w0Yyvns5BCIL5s_7JuFrug,wxKpyfSQPMGNHSKWFFIbDQ,3,"Well, White Castle kind of is what it is... I ...",3.0,8,2,2
2,dKdApYVFDSNYsNOso6NYlA,VYOQLKuR0Ugy9lU-QiOuLw,kTdvdp0dFu2Q4hAO4hk2Dw,4,Located inside the Casino Royale Hotel & Casin...,3.0,0,0,0
3,dKdApYVFDSNYsNOso6NYlA,qlaVQkSxKcqfHJhoZU3rKg,hwEz-5l4BP5nYoGZD9xDrg,2,What a disappointment! I was really looking f...,3.0,1,2,1
4,dKdApYVFDSNYsNOso6NYlA,8OeTLey-p-WaL9ErNEci1Q,s2MW1ToXDIsD-WcdV__dPQ,2,I am being generous with 2 stars.\\nSo disappo...,3.0,5,9,5

In [10]:
input_data2.columns.values
Business_df = pd.DataFrame(input_data2['Business Id'])
Business_df.head()

              Business Id
0  dKdApYVFDSNYsNOso6NYlA
1  dKdApYVFDSNYsNOso6NYlA
2  dKdApYVFDSNYsNOso6NYlA
3  dKdApYVFDSNYsNOso6NYlA
4  dKdApYVFDSNYsNOso6NYlA

In [11]:
reviews_new = input_data2[['User Id','Text_encoded','Business Id','Review Id']]

In [12]:
reviews_new.head()

,User Id,Text_encoded,Business Id,Review Id
0,bLbSNkLggFnqwNNzzq-Ijw,Crave those crazy squares!! Not breakfast cere...,dKdApYVFDSNYsNOso6NYlA,LwszgYoywAhMaIdt3zPgug
1,w0Yyvns5BCIL5s_7JuFrug,"Well, White Castle kind of is what it is... I ...",dKdApYVFDSNYsNOso6NYlA,wxKpyfSQPMGNHSKWFFIbDQ
2,VYOQLKuR0Ugy9lU-QiOuLw,Located inside the Casino Royale Hotel & Casin...,dKdApYVFDSNYsNOso6NYlA,kTdvdp0dFu2Q4hAO4hk2Dw
3,qlaVQkSxKcqfHJhoZU3rKg,What a disappointment! I was really looking f...,dKdApYVFDSNYsNOso6NYlA,hwEz-5l4BP5nYoGZD9xDrg
4,8OeTLey-p-WaL9ErNEci1Q,I am being generous with 2 stars.\\nSo disappo...,dKdApYVFDSNYsNOso6NYlA,s2MW1ToXDIsD-WcdV__dPQ

In [13]:
from nltk import sent_tokenize, word_tokenize, pos_tag
sentences_new = []
user_Id = []
Business_Id = []
Reviews_Id = []
for i in range(len(reviews_new)):
    review = reviews_new.get_value(i,'Text_encoded')
    User_Id = reviews_new.get_value(i,'User Id')
    Busi_Id = reviews_new.get_value(i,'Business Id')
    review_Id = reviews_new.get_value(i,'Review Id')
    raw_sentences = sent_tokenize(review)
    for sentence in raw_sentences:
        sentences_new.append(sentence)
        user_Id.append(User_Id)
        Business_Id.append(Busi_Id)  
        Reviews_Id.append(review_Id)

ser_sent = pd.Series(sentences_new)
ser_userId = pd.Series(user_Id)
ser_Business_Id = pd.Series(Business_Id)
ser_Reviews_Id = pd.Series(Reviews_Id)

df_test_new = pd.DataFrame()
df_test_new['Reviews'] = ser_sent
df_test_new['userId'] = ser_userId
df_test_new['Business_Id'] = ser_Business_Id
df_test_new['Review_Id'] = ser_Reviews_Id

In [14]:
df_test_new.shape
test_review_new = tv.transform(df_test_new["Reviews"])
review_predict_new = clf.predict(test_review_new)
df_test_new["Sentiment"] = review_predict_new
df_test_new.to_csv('output_sent_update.csv')